.Characters{
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
	grid-gap: 1em;
    justify-content: center;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}
.CharacterItem{
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
}
.CharacterItem:hover{
    box-shadow: 0px 3px 10px -4px rgba(23, 26, 22, 0.41);
}
.CharacterItem figure{
    width: 100%;
    margin: 0;
    padding: 0;
}
.imageContainer{
    position: relative;
    overflow: hidden;
}
.imageCharacter{
    width: 100%;
}
.nameCharacter{
    margin: 10px;
    font-size: 1.5rem;
    color: rgb(0, 176, 200);
}
.dataCharacterContainer{
    position: absolute;
    bottom: -10px;
    width: 100%;
    padding: 0 5px;
    text-align: start;
    font-size: .8rem;
    list-style: none;
    color: white;
    background-color: black;
    opacity: .7;
    z-index: -10;
}
.dataCharacterHover{
    z-index: 10;
}
.dataSpan{
    color: rgb(105, 200, 42)
}

.dark .CharacterItem{
    background-color: #303236c2;
}
.dark .nameCharacter{
    color: rgb(89, 155, 163);
}
.dark .dataSpan{
    color: rgb(121, 163, 95)
}

@media (min-width: 1000px) {
    .Characters{
        grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
    }
}