.title{
    font-size: 2rem;
}
.FavoriteCharacters{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}
.FavoriteCharactersContainer{
    display: flex;
    gap: 1em;
    width: 105%;
    overflow-x: scroll;  
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity; 


    transition-duration: 0.15s; 
    transition-timing-function: cubic-bezier(0.05,0,0,1);
    will-change: transform;
    white-space: nowrap;
}
.itemContainer{
    scroll-snap-align: center;
    text-align: center;
}
.image{
    width: 4rem;
    border-radius: 15px;
}
.name{
    font-size: .7rem;
}

@media (min-width: 1000px) {
    .image{
        width: 5.5em;
    }
    .name{
        font-size: 1rem;
    }
}
::-webkit-scrollbar {
    display: none;
}