.searchContainer{
    position: relative;
    width: 100%;
    max-width: 450px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.searchInput{
    width: 100%;
    padding: 8px 16px;
    border-radius: 10px;
    border: 0px transparent;
    text-indent: 1.2rem;
    background-color: #e2e5e5;
    outline: none;
}
.searchIcon{
    position: absolute;
    top: 9px;
    left: 12px;
    width: .8em;
    height: .8em;
    color: black;
    opacity: .4;
}

.dark.searchContainer{
    border-color: transparent;
}
.dark .searchInput{
    background-color: #303236c2;
}
.dark .searchIcon{
    color: rgba(123, 134, 130, 0.877);
}
